$mainColor: #72bf48;

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 100px;

    & > .Android{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        width: 500px;
        height: 615.131;
    
        & > .head{
            margin-left: auto;
            margin-right: auto;
            width: 317.601px;
            height: 300px;
            background-color: $mainColor;
            border-radius: 150px;
            margin-bottom: -175px;

           & > .eyeswrap{
               display: flex;
               justify-content: space-between;
               padding: 0px 75px;
               flex-direction: row;
               margin-top: 50px;
                & > .eyes{
                    width: 35.399px;
                    height: 37.006px;
                    background-color: #fff;
                    border-radius: 18px;
                }
           }
        }

        & > .bodywrap{

            & > .realbodywrap{
                display: flex;
                flex-direction: row;

                & > .arm{
                    width: 69.183px;
                    height: 226.946px;
                    margin-top: 25.339px;
                    background-color: $mainColor;
                    border-radius: 35px;
                }

                & > .body{
                    width: 317.601px;
                    height: 330px;
                    background-color: $mainColor;
                    border-radius: 35px;

                    & > .neck{
                        width: 317.601px;
                        height: 25.339px;
                        background-color: #fff;
                    }
                }
    
                & > .leftarm{
                    margin-right: 22.943px;
                }
    
                & > .rightarm{
                    margin-left: 22.943px;
                }
            }

            & > .legwrap{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                padding: 0px 130px;
                margin-top: -140px;

                & > .leg{
                    width: 69.183px;
                    height: 226.946px;
                    margin-top: 25.339px;
                    background-color: $mainColor;
                    border-radius: 35px;
                }
            }
        }

        & > .earwrap{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 150px;

            & > .ears{
                width: 7px;
                height: 80px;
                background-color: $mainColor;
                border-radius: 7px;
                margin-bottom: -50px;
            }

            & > .rightear{
                transform: rotate(30deg);
            }

            & > .leftear{
                transform: rotate(330deg);
            }
        }
    }
}